@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: "Montserrat", sans-serif;
  color: #742305;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/*NAVBAR*/

header {
  background-color: #fef7e2;
  padding: 20px;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

button {
  font-weight: 700;
  background-color: #ffdf80;
  padding: 15px;
  border-radius: 50px;
}

#bee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

#bee img {
  width: 50px;
  margin-right: 12px;
}

h1 {
  margin: 20px;
  font-size: 48px;
}

.shop {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

article {
  border-radius: 20px;
  background-color: #fef7e2;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#shop_img {
  width: 300px;
  border-radius: 20px 20px 0 0;
}

.kg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
}

.card2 {
  margin: 22px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fef7e2;
}

.card2 h3,
.card2 p {
  margin-bottom: 20px;
}

.card2 img {
  width: 100%;
}

@media screen and (max-width: 650px) {
  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
    flex-wrap: nowrap;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
}
